@import 'bootstrap', 'font-awesome';

$use-fadeIn 			:	true;
$use-fadeInUp 			:	true;
$use-fadeInUpBig 		:	true;
$use-fadeInDown 		:	true;
$use-fadeInDownBig 		:	true;
$use-fadeInLeft 		:	true;
$use-fadeInLeftBig 		:	true;
$use-fadeInRight 		:	true;
$use-fadeInRightBig 	:	true;
@import 'animate-sass/animate';

body, html {
	background-color: #222;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow-x: hidden;
}

body {
    -webkit-backface-visibility: hidden; // Addresses a small issue in webkit: http://bit.ly/NEdoDq
}

.animated {
    @include animate-prefixer(animation-duration, $base-duration);
    @include animate-prefixer(animation-fill-mode, both);

    &.hinge {
        @include animate-prefixer(animation-duration, $base-duration * 2);
    }
}


ul {
    display: inline;
    vertical-align: middle;
    letter-spacing: normal;
    font-weight: 300;
    letter-spacing: normal;
    list-style: none;
}

.pager {
  padding: 0 5px;
  li {
    > {
      a, span {
        background-color: transparent;
        padding: 10px 0 0 0;
        text-align: center;
        border: 1px solid #323234;
        margin: 0 5px;
        border-radius: 1000px;
        width: 40px;
        height: 40px;
        color: #ccc;
      }
      a:hover, span:hover {
        background-color: transparent;
        border-color: #ccc;
      }
      a {
        &:active, &:focus {
          background-color: transparent;
        }
      }
    }
    p {
      display: -webkit-inline-block;
      display: -ms-inline-block;
      display: inline-block;
      text-align: center;
      margin-top: 10px;
    }
  }
}

@import "./grid.scss";
