<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}" prefix="og: http://ogp.me/ns# profile: http://ogp.me/ns/profile#">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

    <title>{{.Site.Title}} - {{.Site.Params.Subtitle}}</title>
    <meta name="description" content="{{.Site.Params.Description}}" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="{{.Site.Title}} - {{.Site.Params.Subtitle}}" />
    <meta property="og:description" content="{{.Site.Params.Description}}" />
    <meta property="og:url" content="{{.Site.BaseUrl}}" />
    <meta property="og:locale" content="{{.Site.LanguageCode}}">
    {{with .Site.Params.Logo}}<meta property="og:image" content="{{.}}" />{{end}}
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="{{.Site.Title}} - {{.Site.Params.Subtitle}}" />
    <meta name="twitter:description" content="{{.Site.Params.Description}}" />
    <meta name="twitter:creator" content="@{{ .Site.Params.twitter }}" />
    <meta name="twitter:site" content="@{{ .Site.Params.twitter }}" />
    {{with .Site.Params.Logo}}<meta name="twitter:image" content="{{.}}" />{{end}}
    <meta property="profile:first_name" content="{{ .Site.Author.FirstName }}" />
    <meta property="profile:last_name" content="{{ .Site.Author.LastName }}" />
    <meta property="profile:gender" content="{{ .Site.Author.Gender }}" />
    <meta property="profile:username" content="{{ .Site.Author.UserName }}" />
{{ partial "header.html" . }}
{{ $paginator := .Paginate (.Data.Pages) }}
    {{ if $paginator.HasPrev }}<link rel="prev" href="{{ $paginator.Prev.Url }}" />{{ end }}
    {{ if $paginator.HasNext }}<link rel="next" href="{{ $paginator.Next.Url }}" />{{ end }}
  </head>

  <body>

    <aside>
        <div class="blog-info">
            <h1>{{ .Site.Title }}</h1>
            <p>{{ .Site.Params.Subtitle }}</p>
        </div>
    </aside>
    
    <div class="fadeInUpRight animated">

        <div class="masonry" data-columns>
          {{ range $paginator.Pages }}
          <div class="item">
            {{ .Render "li"}}
          </div>
          {{ end }}
        </div>

        <nav>
          {{ if $paginator.HasNext }}<a class="next" href="{{ $paginator.Next.Url }}">View More</a>{{ end }}
        </nav>

    </div>

{{ partial "footer.html" . }}

  </body>
</html>
