<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="social-icons pull-right">
        <a href="#"><i class="fa fa-google"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-youtube"></i></a>
        <a href="#"><i class="fa fa-github"></i></a>
        <a href="#"><i class="fa fa-pinterest"></i></a>
        <a href="#"><i class="fa fa-instagram"></i></a>
        <a href="#"><i class="fa fa-behance"></i></a>
        <a href="#"><i class="fa fa-tumblr"></i></a>
        <a href="http://54.172.86.249/rss/"><i class="fa fa-rss"></i></a>
    </div>
</div>
